<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page of employee app</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}">Add Employee</a>
            <a class="nav-item nav-link" th:href="@{/listOfEmployees}">List of employees</a>
        </div>
    </div>
</nav>

<form action="#" th:action="@{/addEmployee}" th:object="${employeeObject}" method="post">

    <div class="mx-auto" style="width: 800px;">

        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" th:field="*{name}">
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" th:field="*{lastName}">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" th:field="*{email}">
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" th:field="*{city}">
        </div>

        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" th:field="*{street}">
        </div>


        <div class="form-group">
            <label>Gender</label>

            <div class="row">
                <div class="col">
                    <label>Female</label>
                    <input type="radio" th:field="*{gender}" th:value="female">
                </div>

                <div class="col">
                    <label>Male</label>
                    <input type="radio" th:field="*{gender}" th:value="male">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Birth date</label><br>
            <input type="date" th:field="*{birthDate}">
        </div>

        <div class="form-group">
            <label>Employment date</label><br>
            <input type="date" th:field="*{dateOfEmployment}">
        </div>

        <div class="form-group">
            <label>Department</label><br>
            <select name="department">
                <option th:each="departmentOption : ${T(com.app.model.Department).values()}"
                        th:value="${departmentOption}" th:text="${departmentOption}"></option>
            </select>
        </div>



        <div class="form-group">
            <input type="submit" name="Add">
        </div>

    </div>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
</body>
</html>